@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out;
}

@keyframes carouselSlide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.carousel {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;

  .group {
    animation: carouselSlide 30s linear infinite;
  }

  &:hover .group {
    animation-play-state: paused;
  }
}

